//eot, woff2, woff,ttf, svg
@font-face {
	font-family: "Fixel - Display Thin";
	src: url("../fonts/FixelDisplay-Thin.eot"); 
	src: url("../fonts/FixelDisplay-Thin.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-Thin.otf") format("opentype"), 
		url("../fonts/FixelDisplay-Thin.svg") format("svg"), 
		url("../fonts/FixelDisplay-Thin.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-Thin.woff") format("woff"), 
		url("../fonts/FixelDisplay-Thin.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fixel - Display Regular";
	src: url("../fonts/FixelDisplay-Regular.eot"); 
	src: url("../fonts/FixelDisplay-Regular.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-Regular.otf") format("opentype"), 
		url("../fonts/FixelDisplay-Regular.svg") format("svg"), 
		url("../fonts/FixelDisplay-Regular.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-Regular.woff") format("woff"), 
		url("../fonts/FixelDisplay-Regular.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fixel - Display Medium";
	src: url("../fonts/FixelDisplay-Medium.eot"); 
	src: url("../fonts/FixelDisplay-Medium.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-Medium.otf") format("opentype"), 
		url("../fonts/FixelDisplay-Medium.svg") format("svg"), 
		url("../fonts/FixelDisplay-Medium.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-Medium.woff") format("woff"), 
		url("../fonts/FixelDisplay-Medium.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fixel - Display Light";
	src: url("../fonts/FixelDisplay-Light.eot"); 
	src: url("../fonts/FixelDisplay-Light.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-Light.otf") format("opentype"), 
		url("../fonts/FixelDisplay-Light.svg") format("svg"), 
		url("../fonts/FixelDisplay-Light.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-Light.woff") format("woff"), 
		url("../fonts/FixelDisplay-Light.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fixel - Display Bold";
	src: url("../fonts/FixelDisplay-Bold.eot"); 
	src: url("../fonts/FixelDisplay-Bold.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-Bold.otf") format("opentype"), 
		url("../fonts/FixelDisplay-Bold.svg") format("svg"), 
		url("../fonts/FixelDisplay-Bold.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-Bold.woff") format("woff"), 
		url("../fonts/FixelDisplay-Bold.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fixel - Display Extra Bold";
	src: url("../fonts/FixelDisplay-ExtraBold.eot"); 
	src: url("../fonts/FixelDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/FixelDisplay-ExtraBold.otf") format("opentype"), 
		url("../fonts/FixelDisplay-ExtraBold.svg") format("svg"), 
		url("../fonts/FixelDisplay-ExtraBold.ttf") format("truetype"), 
		url("../fonts/FixelDisplay-ExtraBold.woff") format("woff"), 
		url("../fonts/FixelDisplay-ExtraBold.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bitter";/* -Bold */
	src: url("../fonts/Bitter-Bold.eot"); 
	src: url("../fonts/Bitter-Bold.eot?#iefix") format("embedded-opentype"), 
		// url("../fonts/Bitter-Bold.otf") format("opentype"), 
		url("../fonts/Bitter-Bold.svg") format("svg"), 
		url("../fonts/Bitter-Bold.ttf") format("truetype"), 
		url("../fonts/Bitter-Bold.woff") format("woff"), 
		url("../fonts/Bitter-Bold.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
}
